
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wangen-Reset password </title>

</head>
<body>
    <div class="container" style="  max-width: 600px;margin: 0 auto;padding: 20px;font-family: Arial, sans-serif;">
        <div class="header" style="text-align: center; ">
            <h2 style="background-color: goldenrod;margin: 0;padding: 20px;color: beige;">Passwort zu ändern </h2>
        </div>
        <div class="content" style="padding: 20px;background-color: #ffffff;border-radius: 5px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);margin-bottom: 20px;">
            <div class="header" style="text-align: center; margin-bottom: 20px; justify-content: center;">
                <img src="https://admin.pizzawangen.ch/Dashboard/images/logo.png" style="max-width: 150px;" alt="Your Company Logo">
            </div>

            <h2 style=" color: #333333;margin-bottom: 10px;">Guten Tag,  </h2>
            <p style="color: #666666; font-size: 20px;">Bitte klicken Sie auf den Link,<span style="color: blue;  font-size: 20px;">{0}</span></p>
            <p style="color: #666666; font-size: 20px;">um Ihr Passwort zu ändern.</p>

            <div class="button" style="text-align: center;justify-content: center; margin: 50px;">
                <a href="{1}" style="padding: 20px 30px; background-color: goldenrod; font-size: 20px; font-weight: 800; text-decoration: none; color:#ffffff">Weiter… </a>
            </div>
            <p style=" color: #666666;margin-bottom: 20px;">Vielen Dank. <br>Ihr Pizza Wangen Team </p>
        </div>
        <div class="footer" style="text-align: center; color: #888888;">
            <p>&copy; 2024 Wangen All rights reserved.</p>
            <a href="https://www.facebook.com/profile.php?id=100079034319158" target="_blank">
                <img style="max-width: 50px;margin-top: 20px;" src="https://admin.pizzawangen.ch/Dashboard/images/iconfacebook.png" alt="Facebook">
            </a>
            <a href="https://x.com/WangenKebabHaus" target="_blank">
                <img style="max-width: 50px;margin-top: 20px;" src="https://admin.pizzawangen.ch/Dashboard/images/icontwitter.png" alt="Twitter">
            </a>
            <a href="https://www.instagram.com/wange_kebab_haus_sz/?hl=en" target="_blank">
                <img style="max-width: 50px;margin-top: 20px;" src="https://admin.pizzawangen.ch/Dashboard/images/iconinsta.png" alt="Instagram">
            </a>
        </div>
    </div>
</body>
</html>
